*{
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.header{
    position: fixed;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#menu-toggle{
    opacity: 0;
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    height: 100px;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.navbar-nav{
    margin-top: 5px;
}
.navbar-list{
    display: flex;
    gap: 42px;
    align-items: center;
}
.navbar-list a{
    text-decoration: none;
    color: #323232;
    padding: 5px 5px;
}
.navbar-list a:hover{
    background-color: rgb(255, 231, 221);
    border-radius: 5px;

}
.navbar-list .active{
    font-weight: 700;
    color: #F78434;
    padding: 5px 5px;
    transition: .2s;
}
.navbar-list .active:hover{
    background-color: rgb(248, 246, 246);
    border-radius: 5px;
}
.row{
    display: flex;
}
.col{
    max-width: 50%;
    margin-left: 5px;
}
.main-heading{
    font-size: 54px;
    line-height: 1.5;
    width: 640px;
    position: relative;
    margin-top: 127px;
    letter-spacing: 0.8px;
    color: #323232;
    margin-bottom: 0;
}
.text{
    line-height: 1.5;
    margin: 25px 30px 0 0 ;
    letter-spacing: 1.15px;
    color: #323232;
}
.intro-img{
    margin-left: 15px;
    animation: img-scale 3s 2 linear 1s;
}
.intro-form{
    position: relative;
}
.btn{
    background-color: #F78434;
    font-weight: 700;
    color: white;
    font-size: 16px;
    display: inline-block;
    padding: 18px 37px 16px;
    border-radius: 58px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: .2;
}
.btn:hover{
    background-color: lightgray;
}
.intro-sect{
    margin-top: 115px;
}
.intro-form{
    overflow: hidden;
    margin-top: 42px;
    max-width: 460px;
    position: relative;

}
.intro-form-text{
    border: 0;
    padding: 20px;
    padding-left: 72px;
    font-size: 16px;
    box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    outline: none;
    width: 100%;
}
.intro-form .btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}
.logo-list{
    display: flex;
    justify-content: space-between;
    margin-top: 102px;
    text-decoration: none;
    align-items: center;
}
.lable{
    position: absolute;
    left: 28px;
    bottom: 18px;
}
.col-pictures{
    display: flex;
    gap: 32px;
}
.col-pictures:nth-last-of-type(2){
    position: relative;
}
.row-block3{
    display: flex;
    margin-top: 102px;
    margin-bottom: 376px;
    background-color: #fff;
}
.col1{
    margin-left: -165px;
}
.col-block3 {
    line-height: 1.5;
    margin: 68px 0 0px 171px;
    color: #323232;
}
.col-block3 h2{
    font-size: 42px;
    letter-spacing: 0.8px;
    margin: 0;
}
.col-block3 p{
    letter-spacing: 1.15px;
    margin-top: 20px;
    margin-bottom: 0%;
    font-size: 16px;
}
.col-block3 a{
    margin-top: 40px;
    padding: 18px 39px 16px;
}
.block3-absolut{
    position: absolute;
    border-radius: 15px;
    right: -46px;
    bottom: 87px;
    background-color: #fff;
    padding: 32px  29px 32px 94px;
    color: #323232;
}
.block3-absolut::before{
    content: url(../img/Group5.svg);
    display: block;
    position: absolute;
    margin-left: -70px;
    margin-top: 10px;
}
.block3-absolut p:nth-of-type(1){
    font-weight: 700;
    letter-spacing: 0.8px;
    margin: 0;
}
.block3-absolut p:nth-of-type(2){
    letter-spacing: 1.15px;
    line-height: 1.5;
    margin: 0;
}
.product-block{
    background-image: url(../img/product-bg.jpg);
    max-width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-top: -231px;
}
.product-block-img{
    position: absolute;
    top: 60px;
    left: -300px;
}
.product-block-text{
    color: #fff;
    margin: 92px 95px 91px 651px;
    line-height: 1.5;
}
.product-block-text h2{
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.08px;
    margin: 0;
}
.product-block-text p{
    color: #fff;
    letter-spacing: 1.15px;
    margin: 15px 0 30px;

}
.btn-product{
    background-color: #fff;
    font-weight: 700;
    color: #323232;
    font-size: 16px;
    display: inline-block;
    padding: 18px 29px 16px 49px  ;
    border-radius: 58px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-left: 20px;
    transition: .2s;
}
.btn-product::before{
    content: url(../img/play.svg);
    display: block;
    position: absolute;
    margin-left: -20px;
}
.btn-product:hover{
    background-color: lightgray;
    color: #fff;
}
@keyframes img-scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}


@media(max-width:1200px){
   
    .intro-img{
        max-width: 500px;
    }
    .col-block3{
        margin-left: 131px;
    }
    .logo-list img{
        max-width: 200px;
    }
    .container{
        max-width: 1035px;
        margin: 0 auto;
    }
    .product-sect{
        margin-top: 372px;
    }
   
    .logo-list{
        margin-bottom: 100px;
    }
    .product-block-text{
        margin-left: 621px;
        margin-right: 0;
    }
    .block3-absolut{
        right: -80px;
    }

}
@media(max-width: 1050px){
    .menubox{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        margin-left: 10px;
        padding: 80px 0;
        list-style: none;
        background-color: rgb(255, 231, 221);
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }
    .menu-item {
        display: block;
        padding: 12px 24px;
        color: #323232;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu-item:hover {
        background-color: #CFD8DC;
    }
 
    
    .menu-btn{
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right:0;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu-btn > span,
      .menu-btn > span::before,
      .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #F78434;
        transition-duration: .25s;
    }
      .menu-btn > span::before {
        content: '';
        top: -8px;
      }
      .menu-btn > span::after {
        content: '';
        top: 8px;
    }

    .navbar{
        flex-direction: column;
        margin-bottom: 0px;
    }
    .navbar img{
        margin: 15px 0;
        align-self: flex-start;
        max-width: 30%;
    }
    .navbar-list{
        justify-content: space-between;
    }
    .navbar-list{
        flex-wrap: wrap;
        justify-content: start;
        margin-left:0 ;

    }
    .intro-img{
        margin-top: 20px;
    }
    .block3-absolut{
        padding: 32px 0 32px 94px ;
        bottom: 87px;
        right: -1px;
        border-radius:15px 0 0 15px;
        
    }
    .navbar-list{
        gap: 20px;
    }
    .col{
        max-width: 90%;
        margin: 0;
    }
   .row{
       flex-direction: column-reverse;
       align-items: center;
       gap: 50px;
   }
   .main-heading{
       margin-top: 0;
       margin-left: 0;
   }
   .container{
       max-width: 700px;
       margin: 0 auto;
       align-items: center;
   }
   .row-block3{
       flex-direction: column;
       align-items: center;
   }
   .col-block3 p{
       max-width: 60%;
   }
   .logo-list{
       max-width: 100%;
       margin-top: 100px;
    }
   .logo-list img{
    max-width: 150px;
}

.product-sect{
    margin-top: 752px;
}
.product-block-text h2{
    padding-top: 40px
}
.product-block{
    overflow: visible;
   }
   .product-block-img{
        left: 0;
        top: -500px;
        max-width: 100%;
    }
    .product-block-text{
        margin:  0 0 0px 50px;
    }
    .product-block-text a{
        margin-top: 20px;
        margin-bottom: 60px;
    }
    #menu-toggle:checked ~ .menu-btn > span{
        transform: rotate(45deg);
      }
      #menu-toggle:checked ~ .menu-btn > span::before{
        top: 0;
        transform: rotate(0);
      }
      #menu-toggle:checked ~ .menu-btn > span::after{
        top: 0;
        transform: rotate(90deg);
      }
      #menu-toggle:checked ~ .menubox{
        visibility: visible;
        left: 0;
      }
    .menu-btn{
        top: 20px;
        right: 20px;
    }
    .navbar{
        height: 60px;
    }
    .intro-sect{
        margin-top: 50px;
    }

}
@media(max-width: 700px){
   
    .logo-list{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }
    .main-heading{
        font-size: 48px;
    }
    .text{
        margin-right: 0;
    }
    .container{
        max-width: 650px;
        max-width: 35px auto 0;
    }
}
@media(max-width:650px){
    .block3-absolut{
        padding: 32px 0 32px 94px ;
        bottom: 87px;
        right: -1px;
        border-radius:15px 0 0 15px;

    }
    .col-block3 p{
        max-width: 100%;
    }
   .intro-img, .col1 img , .col2 img{
       max-width: 100%;
       margin-left: 0;
   }
   .main-heading, .col-block3 h2{
       max-width: 100%;
   }
   .main-heading, .col-block3 h2, .product-block-text h2{
       font-size: 30px;
   }
   p, .col-block3 p{
       font-size: 13px;
   }
   .main-heading{
       margin-top: 20px;
   }
   .col-block3{
       margin-left: 10%;
   }
   
}
@media(max-width: 550px){
    .product-block img{
        top: -400px;
    }
    .product-sect{
        margin-top: 650px;
    }
    .product-block-text{
        margin-left: 5%;
    }
   
}
@media(max-width: 430px){

    .main-heading, .col-block3 h2, .product-block-text h2{
        font-size: 20px;
    }
    .logo-list{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .intro-form-text{
        font-size: 13px;
        padding-left: 40px;
    }
    .lable{
        left: 10px;
        bottom: 15px;
    }
    .btn, .col-block3 a{
        padding: 18px 20px 16px ;
    }
    .btn-product{
        padding: 18px 20px 16px 35px;
        margin-left: 10px;
    }
    .product-block img{
        top: -300px;
    }
    .product-sect{
        margin-top: 550px;
    }
    .block3-absolut{
        padding: 15px 30px 15px 60px ;
        bottom: 40px;
    }
    .block3-absolut::before{
        margin-left: -50px;
        top: 7px;
    }
    .btn-flex-product{
        justify-content: space-around;
    }
    .btn-product{
        margin-right: 10px;
    }
}
@media(max-width:365px) {
    .btn-flex-product{
        flex-direction: column;

    }
    .btn-flex-product .btn,  .btn-product{
        max-width: 150px;
        margin: 0;
    }
     .product-block img{
        top: -230px;
    }
    .product-sect{
        margin-top: 480px;
    }
    .btn-flex-product{
        display: flex;
        gap: 20px;}
}